<script>


    $(document).ready(function () {

        /* -------------------------------------------------------------------------- */
        /*                          edit name and email                               */
        /* -------------------------------------------------------------------------- */
        $("#changeBtnNameOrEmail").click(function () {
            const url = "/api/users/edit-name-or-email";
            const type = "post";
            const emailForChangeDiv = $("#emailForChangeDiv");
            const nameForChangeDiv = $("#nameForChangeDiv");
            const emailInput = $("#emailForChange");
            const nameInput = $("#nameForChange");
            const errorEmailAndName = $("#errorEmailAndName");
            const errorEmailAndNameLabel = $("#errorEmailAndNameLabel");
            const data = JSON.stringify({
                name: nameInput.val(),
                email: emailInput.val()
            });
            const contentType = "application/json; charset=utf-8";
            const dataType = "json";
            const header = { 'x-auth-token': Cookies.get("token") };
            $.ajax({
                url: url,
                type: type,
                data: data,
                contentType: contentType,
                dataType: dataType,
                headers: header,
                success: function (data, textStatus, response) {
                    if (nameForChangeDiv.hasClass('has-danger')) {
                        nameForChangeDiv.removeClass("has-danger");
                    }
                    if (!nameForChangeDiv.hasClass('has-success')) {
                        nameForChangeDiv.addClass("has-success");
                    }
                    if (emailForChangeDiv.hasClass('has-danger')) {
                        emailForChangeDiv.removeClass("has-danger");
                    }
                    if (!emailForChangeDiv.hasClass('has-success')) {
                        emailForChangeDiv.addClass("has-success");
                    }
                    if (errorEmailAndName.hasClass('has-danger')) {
                        errorEmailAndName.removeClass("has-danger");
                    }
                    if (!errorEmailAndName.hasClass('has-success')) {
                        errorEmailAndName.addClass("has-success");
                    }
                    if (!errorEmailAndName.is(":visible")) {
                        errorEmailAndName.css("display", "unset");
                    }
                    errorEmailAndNameLabel.html("done");
                },
                error: function (xhr, status, error) {
                    if (!nameForChangeDiv.hasClass('has-danger')) {
                        nameForChangeDiv.addClass("has-danger");
                    }
                    if (nameForChangeDiv.hasClass('has-success')) {
                        nameForChangeDiv.removeClass("has-success");
                    }
                    if (!emailForChangeDiv.hasClass('has-danger')) {
                        emailForChangeDiv.addClass("has-danger");
                    }
                    if (emailForChangeDiv.hasClass('has-success')) {
                        emailForChangeDiv.removeClass("has-success");
                    }
                    if (!errorEmailAndName.hasClass('has-danger')) {
                        errorEmailAndName.addClass("has-danger");
                    }
                    if (errorEmailAndName.hasClass('has-success')) {
                        errorEmailAndName.removeClass("has-success");
                    }
                    if (!errorEmailAndName.is(":visible")) {
                        errorEmailAndName.css("display", "unset");
                    }
                    errorEmailAndNameLabel.html(error + " " + xhr.responseText);
                }
            });
        });

        /* -------------------------------------------------------------------------- */
        /*                                edit password                               */
        /* -------------------------------------------------------------------------- */
        $("#changeBtnPassword").click(function () {
            const url = "/api/users/edit-password";
            const type = "put";
            const oldPasswordDiv = $("#oldPasswordDiv");
            const newPasswordDiv = $("#newPasswordDiv");
            const confirmPasswordDiv = $("#confirmPasswordDiv");
            const oldPasswordInput = $("#oldPasswordInput");
            const newPasswordInput = $("#newPasswordInput");
            const confirmPasswordInput = $("#confirmPasswordInput");
            const changePassErrorSmallTag = $("#changePassErrorSmallTag");
            const changePassErrorLabel = $("#changePassErrorLabel");
            if (newPasswordInput.val() != confirmPasswordInput.val()) {
                if (!confirmPasswordDiv.hasClass('has-danger')) {
                    confirmPasswordDiv.addClass("has-danger");
                }
                if (confirmPasswordDiv.hasClass('has-success')) {
                    confirmPasswordDiv.removeClass("has-success");
                }
                if (!changePassErrorSmallTag.hasClass('has-danger')) {
                    changePassErrorSmallTag.addClass("has-danger");
                }
                if (changePassErrorSmallTag.hasClass('has-success')) {
                    changePassErrorSmallTag.removeClass("has-success");
                }
                if (!changePassErrorSmallTag.is(":visible")) {
                    changePassErrorSmallTag.css("display", "unset");
                }
                changePassErrorLabel.html("Your new Password And Confirm didn't Match.");
                return;
            }
            const data = JSON.stringify({
                oldPassword: oldPasswordInput.val(),
                newPassword: newPasswordInput.val(),
                confirmPassword: confirmPasswordInput.val()
            });
            const contentType = "application/json; charset=utf-8";
            const dataType = "json";
            const header = { 'x-auth-token': Cookies.get("token") };
            $.ajax({
                url: url,
                type: type,
                data: data,
                contentType: contentType,
                dataType: dataType,
                headers: header,
                success: function (data, textStatus, response) {
                    console.log("data: ", data);
                    console.log("textStatus: ", textStatus);
                    console.log("response: ", response);
                    if (oldPasswordDiv.hasClass('has-danger')) {
                        oldPasswordDiv.removeClass("has-danger");
                    }
                    if (!oldPasswordDiv.hasClass('has-success')) {
                        oldPasswordDiv.addClass("has-success");
                    }
                    if (newPasswordDiv.hasClass('has-danger')) {
                        newPasswordDiv.removeClass("has-danger");
                    }
                    if (!newPasswordDiv.hasClass('has-success')) {
                        newPasswordDiv.addClass("has-success");
                    }
                    if (confirmPasswordDiv.hasClass('has-danger')) {
                        confirmPasswordDiv.removeClass("has-danger");
                    }
                    if (!confirmPasswordDiv.hasClass('has-success')) {
                        confirmPasswordDiv.addClass("has-success");
                    }
                    if (!changePassErrorSmallTag.hasClass('has-success')) {
                        changePassErrorSmallTag.addClass("has-success");
                    }
                    if (changePassErrorSmallTag.hasClass('has-danger')) {
                        changePassErrorSmallTag.removeClass("has-danger");
                    }
                    if (!changePassErrorSmallTag.is(":visible")) {
                        changePassErrorSmallTag.css("display", "unset");
                    }
                    changePassErrorLabel.html("done");
                },
                error: function (xhr, status, error) {
                    console.log("xhr: ", xhr);
                    console.log("status: ", status);
                    console.log("error: ", error);
                    if (!oldPasswordDiv.hasClass('has-danger')) {
                        oldPasswordDiv.addClass("has-danger");
                    }
                    if (oldPasswordDiv.hasClass('has-success')) {
                        oldPasswordDiv.removeClass("has-success");
                    }
                    if (!newPasswordDiv.hasClass('has-danger')) {
                        newPasswordDiv.addClass("has-danger");
                    }
                    if (newPasswordDiv.hasClass('has-success')) {
                        newPasswordDiv.removeClass("has-success");
                    }
                    if (!confirmPasswordDiv.hasClass('has-danger')) {
                        confirmPasswordDiv.addClass("has-danger");
                    }
                    if (confirmPasswordDiv.hasClass('has-success')) {
                        confirmPasswordDiv.removeClass("has-success");
                    }
                    if (!changePassErrorSmallTag.hasClass('has-danger')) {
                        changePassErrorSmallTag.addClass("has-danger");
                    }
                    if (changePassErrorSmallTag.hasClass('has-success')) {
                        changePassErrorSmallTag.removeClass("has-success");
                    }
                    if (!changePassErrorSmallTag.is(":visible")) {
                        changePassErrorSmallTag.css("display", "unset");
                    }
                    changePassErrorLabel.html(error + " " + xhr.responseText);
                }
            });
        });
    });


    /* -------------------------------------------------------------------------- */
    /*                               image upload                                 */
    /* -------------------------------------------------------------------------- */
    $(function () {

        // First register any plugins
        $.fn.filepond.registerPlugin(FilePondPluginFileValidateType);
        $.fn.filepond.registerPlugin(FilePondPluginImageCrop);
        $.fn.filepond.registerPlugin(FilePondPluginImageResize);
        $.fn.filepond.registerPlugin(FilePondPluginImagePreview);
        $.fn.filepond.registerPlugin(FilePondPluginFilePoster);

        // Turn input element into a pond
        $('.my-pond').filepond();
        $('.my-pond').filepond({
            labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
            imagePreviewHeight: 170,
            imageCropAspectRatio: '1:1',
            imageResizeTargetWidth: 200,
            imageResizeTargetHeight: 200,
            stylePanelLayout: 'compact circle',
            styleLoadIndicatorPosition: 'center bottom',
            styleProgressIndicatorPosition: 'right bottom',
            styleButtonRemoveItemPosition: 'left bottom',
            styleButtonProcessItemPosition: 'right bottom',
            allowImageCrop: true,
            allowImageResize: true,
            imageResizeMode: "cover",
            imageResizeUpscale: true,
            server: {
                process: './upload',
                fetch: null,
                revert: null
            },
            acceptedFileTypes: ['image/png', "image/jpeg", "image/gif"]

        });
        // Set allowMultiple property to true
        // $('.my-pond').filepond('allowMultiple', true);

        // Listen for addfile event
        $('.my-pond').on('FilePond:addfile', function (e) {
            console.log('file added event', e);
        });

        // Manually add a file using the addfile method
        // $('.my-pond').first().filepond('addFile', 'index.html').then(function (file) {
        //     console.log('file added', file);
        // });

    });
</script>