<script>

    /* -------------------------------------------------------------------------- */
    /*                          edit name and email                               */
    /* -------------------------------------------------------------------------- */

    $(document).ready(function () {
        $("#changeBtnNameOrEmail").click(function () {
            const url = "/api/users/edit-name-or-email";
            const type = "post";
            const emailForChangeDiv = $("#emailForChangeDiv");
            const nameForChangeDiv = $("#nameForChangeDiv");
            const emailInput = $("#emailForChange");
            const nameInput = $("#nameForChange");
            const errorEmailAndName = $("#errorEmailAndName");
            const errorEmailAndNameLabel = $("#errorEmailAndNameLabel");
            const data = JSON.stringify({
                name: nameInput.val(),
                email: emailInput.val()
            });
            const contentType = "application/json; charset=utf-8";
            const dataType = "json";
            const header = { 'x-auth-token': Cookies.get("token") };
            $.ajax({
                url: url,
                type: type,
                data: data,
                contentType: contentType,
                dataType: dataType,
                headers: header,
                success: function (data, textStatus, response) {
                    // console.log("response: ", response);
                    // console.log("data: ", data);
                    // console.log("textStatus: ", textStatus);
                    if (nameForChangeDiv.hasClass('has-danger')) {
                        nameForChangeDiv.removeClass("has-danger");
                    }
                    if (!nameForChangeDiv.hasClass('has-success')) {
                        nameForChangeDiv.addClass("has-success");
                    }
                    if (emailForChangeDiv.hasClass('has-danger')) {
                        emailForChangeDiv.removeClass("has-danger");
                    }
                    if (!emailForChangeDiv.hasClass('has-success')) {
                        emailForChangeDiv.addClass("has-success");
                    }
                    if (errorEmailAndName.hasClass('has-danger')) {
                        errorEmailAndName.removeClass("has-danger");
                    }
                    if (!errorEmailAndName.hasClass('has-success')) {
                        errorEmailAndName.addClass("has-success");
                    }
                    if (!errorEmailAndName.is(":visible")) {
                        errorEmailAndName.css("display", "unset");
                    }
                    errorEmailAndNameLabel.html("done");
                },
                error: function (xhr, status, error) {
                    if (!nameForChangeDiv.hasClass('has-danger')) {
                        nameForChangeDiv.addClass("has-danger");
                    }
                    if (nameForChangeDiv.hasClass('has-success')) {
                        nameForChangeDiv.removeClass("has-success");
                    }
                    if (!emailForChangeDiv.hasClass('has-danger')) {
                        emailForChangeDiv.addClass("has-danger");
                    }
                    if (emailForChangeDiv.hasClass('has-success')) {
                        emailForChangeDiv.removeClass("has-success");
                    }
                    if (!errorEmailAndName.hasClass('has-danger')) {
                        errorEmailAndName.addClass("has-danger");
                    }
                    if (errorEmailAndName.hasClass('has-success')) {
                        errorEmailAndName.removeClass("has-success");
                    }
                    if (!errorEmailAndName.is(":visible")) {
                        errorEmailAndName.css("display", "unset");
                    }
                    errorEmailAndNameLabel.html(error + " " + xhr.responseText);
                }
            });
        });
    });

    /* -------------------------------------------------------------------------- */
    /*                               image upload                                 */
    /* -------------------------------------------------------------------------- */
    $(function () {

        // First register any plugins
        $.fn.filepond.registerPlugin(FilePondPluginFileValidateType);
        $.fn.filepond.registerPlugin(FilePondPluginImageCrop);
        $.fn.filepond.registerPlugin(FilePondPluginImageResize);
        $.fn.filepond.registerPlugin(FilePondPluginImagePreview);
        $.fn.filepond.registerPlugin(FilePondPluginFilePoster);

        // Turn input element into a pond
        $('.my-pond').filepond();
        $('.my-pond').filepond({
            labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
            imagePreviewHeight: 170,
            imageCropAspectRatio: '1:1',
            imageResizeTargetWidth: 200,
            imageResizeTargetHeight: 200,
            stylePanelLayout: 'compact circle',
            styleLoadIndicatorPosition: 'center bottom',
            styleProgressIndicatorPosition: 'right bottom',
            styleButtonRemoveItemPosition: 'left bottom',
            styleButtonProcessItemPosition: 'right bottom',
            allowImageCrop: true,
            allowImageResize: true,
            imageResizeMode: "cover",
            imageResizeUpscale: true,
            server: {
                process: './upload',
                fetch: null,
                revert: null
            },
            acceptedFileTypes: ['image/png', "image/jpeg", "image/gif"]

        });
        // Set allowMultiple property to true
        // $('.my-pond').filepond('allowMultiple', true);

        // Listen for addfile event
        $('.my-pond').on('FilePond:addfile', function (e) {
            console.log('file added event', e);
        });

        // Manually add a file using the addfile method
        // $('.my-pond').first().filepond('addFile', 'index.html').then(function (file) {
        //     console.log('file added', file);
        // });

    });
</script>