<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from byrushan.com/projects/material-admin/app/2.0/jquery/bs4/messages.html by HTTrack Website Copier/3.x [XR&CO'2010], Mon, 09 Oct 2017 11:33:13 GMT -->

<head>
    <% include layout/main/meta.ejs %>

    <!-- Vendor styles -->
    <% include layout/main/link.ejs %>

    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
        rel="stylesheet">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.css" rel="stylesheet">
</head>

<body data-ma-theme="green">
    <main class="main">
        <% include layout/main/pageLoader.ejs %>

        <% include layout/main/pageHeader.ejs %>

        <% include layout/main/sidebar.ejs %>

        <% include layout/main/chat.ejs %>

        <section class="content">
            <div class="content__inner">
                <header class="content__title">
                    <h1>Form Elements</h1>

                </header>

                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Change Picture</h2>
                        <small class="card-subtitle">You Can change your picture easily.</small>
                    </div>

                    <div class="card-block">

                        <br>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input accept="image/x-png, image/gif, image/jpeg" type="file" class="my-pond"
                                    name="filepond" />
                                <i class="form-group__bar"></i>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>


                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Change Name Or Email</h2>
                        <small class="card-subtitle" id="errorEmailAndName" style="display: none">
                            <label class="form-control-label" id="errorEmailAndNameLabel">error</label>
                        </small>
                    </div>
                    <div class="card-block">

                        <!-- <div class="form-group form-group--float">
                    <input type="text" class="form-control form-control-sm">
                    <label>Input Small</label>
                    <i class="form-group__bar"></i>
                </div>
                
                <div class="form-group form-group--float">
                    <input type="text" class="form-control">
                    <label>Input Default</label>
                    <i class="form-group__bar"></i>
                </div> -->

                        <h5 class="card-block__title">Email: </h5>
                        <div class="form-group form-group--float" id="emailForChangeDiv">
                            <input type="text" id="emailForChange" class="form-control form-control-lg">
                            <label></label>
                            <i class="form-group__bar"></i>
                        </div>
                        <h5 class="card-block__title">Name: </h5>
                        <div class="form-group form-group--float" id="nameForChangeDiv">
                            <input type="text" id="nameForChange" class="form-control form-control-lg"
                                placeholder="name">
                            <label></label>
                            <i class="form-group__bar"></i>
                        </div>
                        <button type="button" id="changeBtnNameOrEmail" class="btn btn-primary waves-effect"
                            data-toggle="button" aria-pressed="false" autocomplete="off">
                            Change
                        </button>
                        <!-- <div class="form-group has-danger " id="errorEmailAndName" style="display: none">
                            <label class="form-control-label" id="errorEmailAndNameLabel">error</label>
                        </div> -->
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Change Password</h2>
                        <small class="card-subtitle" id="changePassErrorSmallTag" style="display: none">
                            <label class="form-control-label" id="changePassErrorLabel">error</label>
                        </small>
                    </div>
                    <div class="card-block">
                        <!-- <h5 class="card-block__title">Old Password: </h5> -->
                        <div class="form-group form-group--float" id="oldPasswordDiv">
                            <input type="text" id="oldPasswordInput" class="form-control form-control-lg">
                            <label>Old Password</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <!-- <h5 class="card-block__title"></h5> -->
                        <div class="form-group form-group--float" id="newPasswordDiv">
                            <input type="text" id="newPasswordInput" class="form-control form-control-lg"
                                placeholder="">
                            <label>New Password</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <div class="form-group form-group--float" id="confirmPasswordDiv">
                            <input type="text" id="confirmPasswordInput" class="form-control form-control-lg"
                                placeholder="">
                            <label>Confirm Password</label>
                            <i class="form-group__bar"></i>
                        </div>
                        <button type="button" id="changeBtnPassword" class="btn btn-primary waves-effect"
                            data-toggle="button" aria-pressed="false" autocomplete="off">
                            Change Password
                        </button>
                        <!-- <div class="form-group has-danger " id="errorEmailAndName" style="display: none">
                                <label class="form-control-label" id="errorEmailAndNameLabel">error</label>
                            </div> -->
                    </div>
                </div>
            </div>

            <footer class="footer hidden-xs-down">
                <p>© Material Admin Responsive. All rights reserved.</p>

                <ul class="nav footer__nav">
                    <a class="nav-link" href="#">Homepage</a>

                    <a class="nav-link" href="#">Company</a>

                    <a class="nav-link" href="#">Support</a>

                    <a class="nav-link" href="#">News</a>

                    <a class="nav-link" href="#">Contacts</a>
                </ul>
            </footer>
        </section>
    </main>

    <!-- Older IE warning message -->
    <!--[if IE]>
<% include layout/ieWarning.ejs %>
<![endif]-->

    <!-- Javascript -->
    <!-- Vendors -->
    <!--<script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="vendors/bower_components/tether/dist/js/tether.min.js"></script>-->
    <!--<script src="vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <!--<script src="vendors/bower_components/Waves/dist/waves.min.js"></script>-->
    <!--<script src="vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js"></script>-->
    <!--<script src="vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js"></script>-->

    <!--&lt;!&ndash; App functions and actions &ndash;&gt;-->
    <!--<script src="js/app.min.js"></script>-->
    <!--&lt;!&ndash; socket client &ndash;&gt;-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>-->
    <!--<script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>-->
    <!--<script src="js/dynamic.js"></script>-->
    <!-- include jQuery library -->

    <!-- include FilePond library -->


    <!-- include FilePond plugins -->

    <% include layout/main/script.ejs %>
    <% include layout/main/settingSpecialScript.ejs %>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-poster/dist/filepond-plugin-file-poster.js"></script>
    <script
        src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <!-- include FilePond jQuery adapter -->
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
</body>

<!-- Mirrored from byrushan.com/projects/material-admin/app/2.0/jquery/bs4/messages.html by HTTrack Website Copier/3.x [XR&CO'2010], Mon, 09 Oct 2017 11:33:13 GMT -->

</html>